<nav class="navbar navbar-expand-sm bg-info navbar-dark ">
    <div>
        <ul class="nav ">
            <a class="navbar-brand" routerLink="../home">{{ title }}</a>
            <li class="nav-item"><a class="nav-link text-light" routerLink="../home">Home</a></li>
            <li class="nav-item"><a class="nav-link text-light" routerLink="../patientList">Patient List</a></li>
            <li class="nav-item"><a class="nav-link text-light" routerLink="../hospitalList">Hospital List</a></li>
            <li class="nav-item"><a class="nav-link text-light" routerLink="../search">TODO: Search</a></li>
            <li class="nav-item"><a class="nav-link text-light" routerLink="../map">TODO: Map</a></li>
            <li class="nav-item"><a class="nav-link text-light" routerLink="../map">TODO: Edit</a></li>
        </ul>
    </div>
</nav>
