<app-header></app-header>

<div class="scroll">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Given Name</th>
        <th>Family Name</th>
        <th>Zip Code</th>
        <th>Age</th>
        <th>Primary Language</th>
        <th>Primary Hospital</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of outputList">
        <td>{{ patient.givenName }}</td>
        <td>{{ patient.familyName }}</td>
        <td>{{ patient.zip }}</td>
        <td>{{ convertToAge(patient.dob) }}</td>
        <td>{{ languageFromCode(patient.languageCode) }}</td>
        <td>{{ hospitalNameFromCode(patient.hospitalCode)}}</td>
        <div class="button-container">
          <button class="btn btn-info">View</button>
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
<div class="spm-form-box">
  <form #f="ngForm" novalidate>
  
    <div class="form-group form-inline row">
      <div class="col-sm-2"></div>
      <input
        id="textInput"
        class="col-sm-6 form-control form-control-sm"
        type="text" name="testName" [(ngModel)]="textInput"
        placeholder="Search Text (partial matches accepted)">
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="form-check form-check-inline col-sm-6">
        <div *ngFor="let n of radios" >
          <input class="form-check-input" type="radio" name="radioSelector" [id]="'radio-for-' + n.value" [(ngModel)]="searchField" [value]="n.value">
          <label class="form-check-label spm-form-label" [for]="'radio-for-' + n.value">{{n.display}}</label>
        </div>
        
      </div>
  
    </div>
  
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <button class="col-sm-2 btn btn-info" type="submit" (click)="processForm(f.value, f.valid)">Submit</button>
      <div class="col-sm-2"></div>
      <button class="col-sm-2 btn btn-info" type="submit" (click)="resetData()">Reset</button>
    </div>
  
  </form>
  
</div>
