div.scroll {
    max-height: 75vh;
    overflow: scroll;
}

.button-container {
    min-width: 225px;
}

.button-container .btn {
    margin-top: 5px;
}

.spm-form-label {
    margin-right: 20px;
}

.spm-form-box {
    margin-top: 2vh;
}