<app-header></app-header>

<div class="scroll">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Given Name</th>
        <th>Family Name</th>
        <th>Zip Code</th>
        <th>Age</th>
        <th>Primary Language</th>
        <th>Primary Hospital</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patientList">
        <td>{{ patient.givenName }}</td>
        <td>{{ patient.familyName }}</td>
        <td>{{ patient.zip }}</td>
        <td>{{ convertToAge(patient.dob) }}</td>
        <td>{{ languageFromCode(patient.languageCode) }}</td>
        <td>{{ hospitalNameFromCode(patient.hospitalCode)}}</td>
      </tr>
    </tbody>
  </table>
</div>
<p>Get Request (Patients) https://localhost:5001/api/patients/</p>